{% extends "base.html" %}
{% load i18n %}

{% block title %}Care4Care - {% trans "About Us"%} {% endblock %}

{% block content %}

<h1> {% trans "About Us"%} </h1>

<body>
<p>
Kenniscentrum Woonzorg Brussel vzw<br />
Lakensestraat 76 <br />
1000 Brussels<br />
{% trans "Phone"%}: 02/211 02 40<br />
{% trans "Fax"%}: 070/42.08.03
</p>
<p>
{% trans "Contact"%}: Katleen Deruytter <br />
{% trans "Mobile"%}: 0486/247.246 <br />
{% trans "E-mail"%}: katleen.deruytter@woonzorgbrussel.be<br />
{% trans "Web"%}: www.woonzorgbrussel.be
</p>
</body>

{% endblock content %}

{% block help %}
{% trans "This page contains information about the site's owner and how to contact her." %}
{% endblock help %}
