{% extends "base.html" %}
{% load i18n %}

{% block title %}Care4Care - {{ member.user.first_name }} {{ member.user.last_name }}{% trans "'s Agenda"%}{% endblock %}

{% block content %}
    <h2>{{ member.user.first_name }} {{ member.user.last_name }}{% trans "'s Agenda"%}</h2>
    <h3>{{ year }}</h3>
    <nav>
        <div class="text-center">
            <ul class="pagination pagination-lg">
                <li><a href="{% url 'c4c:agenda' member.pk year|add:'-1' %}"><span aria-hidden="true">&laquo;</span><span class="sr-only">{% trans "Previous"%}</span></a></li>
                <li><a href="{% url 'c4c:agenda' member.pk year|add:'-3' %}">{{ year|add:'-3' }}</a></li>
                <li><a href="{% url 'c4c:agenda' member.pk year|add:'-2' %}">{{ year|add:'-2' }}</a></li>
                <li><a href="{% url 'c4c:agenda' member.pk year|add:'-1' %}">{{ year|add:'-1' }}</a></li>
                <li class="active"><a href="#">{{ year }} <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'c4c:agenda' member.pk year|add:'1' %}">{{ year|add:'1' }}</a></li>
                <li><a href="{% url 'c4c:agenda' member.pk year|add:'2' %}">{{ year|add:'2' }}</a></li>
                <li><a href="{% url 'c4c:agenda' member.pk year|add:'3' %}">{{ year|add:'3' }}</a></li>
                <li><a href="{% url 'c4c:agenda' member.pk year|add:'1' %}"><span class="sr-only">{% trans "Next"%}</span><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
            <ul class="pagination pagination-sm">
                <li class="active"><a href="#">{% trans "All year"%} <span class="sr-only">{% trans "(current)"%}</span></a></li>
                {% for month in months %}
                    <li><a href="{% url 'c4c:month' member.pk year month.n %}">{{ month.name }} {% if month.nb_entry %}<span class="badge">{{ month.nb_entry }}{% endif %}</span></a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    {% if has_entries %}
        <table class="table table-bordered table-hover">
            <tr>
                <th>{% trans "Date"%}</th>
                <th>{% trans "Name"%}</th>
            </tr>
            {% for month in months %}
                {% for entry in month.entries %}
                    <tr>
                        <td><a href="{% url 'c4c:event' entry.pk %}">{{ entry.date }}</a></td>
                        <td><a href="{% url 'c4c:event' entry.pk %}">{{ entry.name }}</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    {% endif %}
    {% if user.pk == member.user.pk %}
       <a href="{% url 'c4c:editevent' %}" class="btn btn-primary btn-block">{% trans "Create new event" %}</a>
    {% endif %}
{% endblock content %}

{% block help %}
{% trans "This is your personnal agenda. You can add, edit and remove events to keep track of what you have to do. Events for your jobs are added automatically." %}
{% endblock help %}
