{% extends "base.html" %}


{% block title %}Care4Care - News{% endblock %}
{% block content %}
<a class="btn btn-default" href="{% url 'c4c:all_news_list_Branch' %}"> All branch news </a>
<a class="btn btn-default" href="{% url 'c4c:all_news_list' %}"> All news </a>
        {% if user.is_authenticated %}
<a class="btn btn-default" href="{% url 'c4c:news_creation' %}"> Create News </a>
        {% endif %}
{% for news in allNews %}
<div class="panel panel-primary" style = "margin-top:10px">
     <div class="panel-heading">
    {{ news.title}} -- {{ news.date}} by {{ news.user}}
    </div>
    <div class="panel-body">
    {{ news.description}}
    </div>
    <div class="panel-footer"> Related Branch : {{ news.branch}}</div>
</div>
{% endfor %}
{% endblock content %}