{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ STATIC_URL }}favicon.ico">

        <title>{% block title %}Care4Care{% endblock title %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <!--<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"> -->

        {% block add_header %}
        {% endblock add_header %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">{% trans "Toggle navigation"%}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Care4Care</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'c4c:logout'  %}">{% trans "Logout"%} : {{ user.username }}</a></li>
                        {% else %}
                        <li><a href="{% url 'c4c:login'  %}">{% trans "Login"%}</a></li>
                        <li><a href="{% url 'c4c:registration'  %}">{% trans "Register"%}</a></li>
                        {% endif %}
                        <li><a href="{% url 'c4c:stat'  %}">{% trans "Stat"%}</a></li>

                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="{% url 'c4c:feeds' %}">{% trans "Feeds"%}</a></li>
                        <li role="presentation"><a href="{% url 'c4c:branchlist' %}">{% trans "Branches" %}</a></li>
                        {% if user.is_authenticated %}
                        <li role="presentation"><a href="{% url 'c4c:user_detail' user.pk %}">{% trans "My Profile"%}</a></li>
                        <li role="presentation"><a href="{% url 'c4c:user_jobs'  %}">{% trans "My Jobs"%}</a></li>
                        <li role="presentation"><a href="{% url 'c4c:agenda'  %}">{% trans "My Agenda"%}</a></li>
                        <li role="presentation"><a href="{% url 'c4c:network'  %}">{% trans "Personal Network"%}</a></li>
                        <li role="presentation"><a href="{% url 'c4c:donation_creation' %}"> {% trans "Make Donation"%} </a></li>
                        <li role="presentation"><a href="{% url 'c4c:history' %}">{% trans "History"%}</a></li>
                        {% endif %}
                    </ul>
                    <hr/>
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="{% url 'c4c:all_news_list' %}"> {% trans "News"%} </a></li>
                        <li role="presentation"><a href="{% url 'c4c:whatisc4c' %}">{% trans "What is Care4Care?"%}</a></li>
                        <li role="presentation"><a href="{% url 'c4c:aboutus' %}">{% trans "About us"%}</a></li>
                        <li role="presentation"><a data-toggle="tooltip" data-placement="right" title="{% block help %}This is a test message.{% endblock help %}" container="body">{% trans "Help" %}</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>

            <hr/>
            <footer>
                <p>&copy; Care4Care</p>
            </footer>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        {% block add_script_footer %}
        {% endblock add_script_footer %}
    </body>
</html>
