{% extends "base.html" %}
{% load i18n %}
{% load display_username %}

{% block title %}Care4Care - {% trans "Branch detail"%}{% endblock %}

{% block content %}
    <h2>{{ c4cbranch.name }} {% trans "details" %}</h2>
    <p>{% trans "Address" %}: {{ c4cbranch.address }}</p>
    <p>{% trans "Main user" %}: <a href="{% url "c4c:user_detail" c4cbranch.main_user.pk %}">{% display_username c4cbranch.main_user %}</a></p>

    <h3>{% trans "List of branch administrators" %}</h3>
    <ul>
        {% for user in c4cbranch.get_admins %}
        <li><a href="{% url "c4c:user_detail" user.pk %}">{% display_username user %}</a></li>
        {% empty %}
        <li>{% trans "There are no users in this branch." %}</li>
        {% endfor %}
    </ul>

    <br/>
    {% if user.is_authenticated %}
        {% if user in c4cbranch.get_users %}
            <a href="{% url "c4c:remove_from_branch" pk %}" class="btn btn-primary">{% trans "Leave this branch" %}</a>
        {% else %}
            <a href="{% url "c4c:add_to_branch" pk %}" class="btn btn-primary">{% trans "Join this branch" %}</a>
        {% endif %}
    {% endif %}
{% endblock content %}

{% block help %}
{% trans "This contains detailed information about a branch. If you're logged in, you can also join the branch or leave it from this page." %}
{% endblock help %}
