{% extends "base.html" %}
{% load i18n %}

{% block title %}Care4Care - {% trans "Branch list"%}{% endblock %}

{% block content %}
    <h2>{% trans "List of branches" %}</h2>
    <div class="list-group">
        {% for branch in all_branches %}
            <a href="{% url "c4c:branch_detail" branch.pk %}" class="list-group-item">{{ branch }}</a>
        {% empty %}
            <a href="#" class="list-group-item">{% trans "There are no branches yet." %}</a>
        {% endfor %}
    </div>

{% endblock content %}

{% block help %}
{% trans "This page contains a list of all available branches. You can access the details of a branch by clicking on its name in the list." %}
{% endblock help %}
