{% extends "base.html" %}
{% load i18n %}

{% block title %}Care4Care - {% trans "Job Creation" %} {% endblock %}

{% block content %}
    <h2>
        {%if job != None %}
            {%trans "Edit a job"%}
        {%else%}
            {%trans "Create a new"%} {%if is_new_and_offer %}{%trans "offer"%}{%else%}{%trans "demand"%}{%endif%}
        {%endif%}</h2>
    
    <form method="POST"> {% csrf_token %}
        <table class="table table-bordered table-hover">
            {% if job == None %}
	            <tr>
	                <th>Type</th>
	                <td>
	                    <input type="radio" name="kind" id="job_offer" value="offer" {%if is_new_and_offer %}checked="checked"{%endif%}/> <label for="job_offer"> {% trans "Offer"%}</label><br/>
	                    <input type="radio" name="kind" id="job_demand" value="demand" {%if not is_new_and_offer %}checked="checked"{%endif%}/> <label for="job_demand"> {% trans "Demand"%}</label><br/>
	                </td>
	            </tr>
	        {% endif %}
            {{ form }}
        </table>
        <button type="submit" id="jobcreation_submit" class="btn btn-primary">{% trans "Save"%}</button>
    </form>
{% endblock content %}
