{% extends "base.html" %}
{% load i18n %}

{% block title %}Care4Care - {% trans "Job Creation" %} {% endblock %}

{% block content %}
	<form method="post">{% csrf_token %}
		<input type="radio" name="kind" value="offer" checked>{% trans "Offer"%}
	    <br/>
	    <input type="radio" name="kind" value="demand" checked>{% trans "Demand"%}
		<br/>
        {% trans "Title" %} :
        <input type="text" name="title" maxlength="100" value = {{c4cjob.title}}>
        <br>
        <br>
        {% trans "Description" %} :
        <input type="text" name="description" maxlength="1000" value = {{c4cjob.description}}>
        <br>
        <br>
        {% trans "Location" %} :
        <input type="text" name="location" maxlength="300" value = {{c4cjob.location}}>
        <br>
        <br>
        {% trans "Day when the job begin" %} :
        <input type="datetime-local" name="start_date" value = {{c4cjob.start_date|date:"d/m/Y"}}>
            ({% trans "month" %}/{% trans "day" %}/{% trans "year" %} {% trans "hour" %}:{% trans "minutes" %})
        <br>
        <br>

    <input type="submit" value={% trans "Submit" %} />
	</form>
{% endblock content %}
