{% extends "base.html" %}
{% load i18n %}

{% block title %}Care4Care - {% trans "Donation detail"%}{% endblock %}

{% block content %}
<a class="btn btn-default" href="{% url 'c4c:donation_list_R' %}"> {% trans "All Donation Received"%} </a>
<a class="btn btn-default" href="{% url 'c4c:donation_creation' %}"> {% trans "New Donation"%} </a>
<h1> {% trans "List of Donation Made"%} </h1>

{% for donation in allDonationListMade %}
        <ul>
            <li>{{ donation.receiver }} {{ donation.date }} <a href="{% url 'c4c:donation_detail' donation.id %}"> {% trans "detail"%} </a> </li>

       </ul>
{% endfor %}

{% endblock content %}

{% block help %}
    {% trans "This page provides a list of all the donations that you've made." %}
{% endblock help %}




