{% extends "base.html" %}

{% block title %}Care4Care - Donation detail{% endblock %}

{% block content %}
<a class="btn btn-default" href="{% url 'c4c:donation_list_R' %}"> All Donation Received </a>
<a class="btn btn-default" href="{% url 'c4c:donation_creation' %}"> New Donation </a>
<h1> List of Donation Made </h1>

{% for donation in allDonationListMade %}
        <ul>
				<li>{{ donation.receiver }} {{ donation.date }} <a href="{% url 'c4c:donation_detail' donation.id %}"> detail </a> </li>

       </ul>
{% endfor %}

{% endblock content %}




