{% extends "base.html" %}
{% load i18n %}

{% block title %}Care4Care - {{ user.first_name }} {{ user.last_name }}{% trans "'s Agenda"%}{% endblock %}

{% block content %}
    <h2>{{ user.first_name }} {{ user.last_name }}{% trans "'s Agenda"%}</h2>
    <h3>{% trans "Add/edit event"%}</h3>
    {%if event %}
        <a href="{% url 'c4c:month' event.user.pk event.date.year event.date.month %}">{% trans "Return to calendar"%}</a> - <a href="{% url 'c4c:event' event.pk %}">{% trans "Return to event"%}</a>
    {%else%}
        <a href="{% url 'c4c:agenda' %}">{% trans "Return to calendar"%}</a>
    {%endif%}
	<form action="{%if event %}{% url 'c4c:editevent' event.pk %}{% else %}{% url 'c4c:editevent' %}{% endif %}" method="POST"> {% csrf_token %}
        <table>{{ form }}</table>
		<button id="event_submit" type="submit" class="btn btn-primary">{% trans "Save"%}</button>
	</form>
{% endblock content %}
