{% extends "base.html" %}
{% if c4cjob.offer == True %}
{% trans "Hello"%} {{ c4cjob.asked_by }} ! <br>
{% trans "An offer you accepted has been deleted by"%} {{ c4cjob.done_by }}. <br>
{% trans "Its specifications were :"%} <br>
<li>{% trans "Location"%} : {{c4cjob.location}}</li>
<li>{% trans "Description"%} : {{c4cjob.description}}</li>
<br>
<br>
{% trans "Best regards"%}, <br>
{% trans "The C4C Organisation."%}
{% elif c4cjob.offer == False %}
{% trans "Hello"%} {{ c4cjob.done_by }} ! <br>
{% trans "A demand you accepted has been deleted by"%} {{ c4cjob.asked_by }}. <br>
{% trans "Its specifications were"%} : <br>
<li>{% trans "Location"%} : {{c4cjob.location}}</li>
<li>{% trans "Description"%} : {{c4cjob.description}}</li>
<br>
<br>
{% trans "Best regards"%}, <br>
{% trans "The C4C Organisation"%}.
{% endif %}