{% load i18n %}
{% if c4cjob.offer == True %}
{% trans "Hello"%} {{ c4cjob.done_by }} ! <br>
{% trans "An offer that you made has been canceled by"%} {{ c4cjob.asked_by }}. <br>
{% trans "Its specifications were"%} : <br>
<li>{% trans "Location"%} : {{c4cjob.location}}</li>
<li>{% trans "Description"%} : {{c4cjob.description}}</li>
<br>
<br>
{% trans "Best regards"%}, <br>
{% trans "The C4C Organisation"%}.
{% elif c4cjob.offer == False %}
{% trans "Hello"%} {{ c4cjob.asked_by }} ! <br>
{% trans "A demand that you asked for has been canceled by"%} {{ c4cjob.done_by }}. <br>
{% trans "Its specifications were"%} : <br>
<li>{% trans "Location"%} : {{c4cjob.location}}</li>
<li>{% trans "Description"%} : {{c4cjob.description}}</li>
<br>
<br>
{% trans "Best regards"%}, <br>
{% trans "The C4C Organisation"%}.
{% endif %}