{% load i18n %}
{% trans "Hello"%} {{ c4cjob.created_by }} ! <br>
{% if c4cjob.offer == True %}
{% trans "You created an offer"%} : {{ c4cjob.title }}<br>
{% elif c4cjob.offer == False %}
{% trans "You created a demand"%} : {{ c4cjob.title }}<br>
{% endif %} <br>
{% trans "Here are its specifications"%} : <br>
<li>{% trans "Location"%} : {{c4cjob.location}}</li>
<li>{% trans "Description"%} : {{c4cjob.description}}</li>
<li>{% trans "Your job begins on"%} : {{c4cjob.start_date}}</li>
<li><p> {% trans "Status : Ongoing"%} </p></li>
<br>
<br>
{% trans "Best regards"%}, <br>
{% trans "The C4C Organisation"%}.
