{% load i18n %}
{% trans "Hello"%} {{ c4cjob.asked_by }} ! <br>
{% if c4cjob.offer == True %}
{% trans "The offer"%}({{ c4cjob.title }}) {% trans "you accepted is now completed ! It has been completed by the user"%} : {{ c4cjob.done_by }}:<br>
{% elif c4cjob.offer == False %}
{% trans "The demand"%}({{ c4cjob.title }}) {% trans "you asked for has been completed ! It has been completed by the user"%} : {{ c4cjob.done_by }}.<br>
{% endif %} <br>
{% trans "His duration was"%} : {{ c4cjob.duration }} <br>
{% trans "You can now check it and verify it on the website"%} ! <br>
<br>
{% trans "Best regards"%}, <br>
{% trans "The C4C Organisation"%}.