{% if c4cjob.offer == True %}
Hello {{ c4cjob.done_by }} ! <br>
An offer({{ c4cjob.title }}) you made has been accepted by {{ c4cjob.asked_by }}. <br>
Best regards, <br>
The C4C Organisation.
{% elif c4cjob.offer == False %}
Hello {{ c4cjob.asked_by }} ! <br>
A demand({{ c4cjob.title }}) you made has been accepted by {{ c4cjob.done_by }}. <br>
Its specifications were : <br>
<li>Location : {{c4cjob.location}}</li>
<li>Description : {{c4cjob.description}}</li>
<br>
<br>
Best regards, <br>
The C4C Organisation.
{% endif %}