{% load i18n %}
{% trans "Hello branch admin !"%} <br>
{% trans "A member"%}({{ c4cjob.asked_by }}) {% trans "is requiring your help to solve a conflict ! He doesn't agree with the time"%}
{% trans "credit"%}({{ c4cjob.duration }} {% trans "minutes"%}) {% trans "that the member"%} {{ c4cjob.done_by }} {% trans "has set for this job."%} <br> <br>

{% trans "Here are its specifications :"%} <br> <br>
<li>{% trans "Location :"%} {{c4cjob.location}}</li>
<li>{% trans "Description :"%} {{c4cjob.description}}</li>
<br>
<br>
{% trans "Best regards,"%} <br>
{% trans "The C4C Organisation."%}