{% extends "base.html" %}
{% load i18n %}
{% load display_username %}

{% block title %}Care4Care - {{ event.user.first_name }} {{ event.user.last_name }}{% trans "'s Agenda"%}{% endblock %}

{% block content %}
    <h2>{% display_username event.user %}{% trans "'s Agenda"%}</h2>
    <h3>{{ event.name }}</h3>
    <a href="{% url 'c4c:month' event.user.pk event.date.year event.date.month %}">{% trans "Return to calendar"%}</a>

    <table class="table table-bordered">
        <tr>
            <th>{% trans "Date"%}</th>
            <th>{% trans "Job linked"%}</th>
        </tr>
        <tr>
            <td>{{ event.date }}</td>
            <td>{{ event.job }}</td>
        </tr>
        <tr>
            <th colspan="2">{% trans "Description"%}</th>
        </tr>
        <tr>
            <td colspan="2">{{ event.description }}</td>
        </tr>
    </table>

    {% if event.user.pk == user.pk %}
        <a class="btn btn-primary" href="{% url 'c4c:editevent' event.pk %}">{% trans "Edit"%}</a>
    {% endif %}
{% endblock content %}

{% block help %}
{% trans "This page displays the details on an event in a user's agenda. You can edit it by clicking on the button." %}
{% endblock help %}
