{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div>
         <div>
             <h2> {% trans "Your history"%}</h2>
        </div>
    </div>
    {% if history %}
        {% for objectBlock in history %}
            {% if forloop.counter == 1 %}
                {% if objectBlock %}
<h3 style="text-align:center"> {% trans "Donation received"%} </h3>
            <table class="table table-hover" >
                    <tr>
                        <th>{% trans "Date"%}</th>
                        <th>{% trans "Message"%}</th>
                        <th>{% trans "Amount"%}</th>
                        <th>{% trans "Details"%}</th>
                     </tr>
                {% for object in objectBlock %}
                    <tr>
                        <td>{{ object.date }}</td>
                        <td>{{ object.message }}</td>
                        <td>{{ object.amount}}</td>
                        <td><a type="button" class="btn btn-primary" href="{% url 'c4c:donation_detail' object.id %}">{% trans "Details"%}</a></td>
                     </tr>
                {% endfor %}
            </table>
                {% else %}
                    <p></p>
                {% endif %}
            {% elif forloop.counter == 2 %}
                {% if objectBlock %}
<h3 style="text-align:center" > {% trans "Donation made"%} </h3>
               <table class="table table-hover" >
                    <tr>
                        <th>{% trans "Date"%}</th>
                        <th>{% trans "Message"%}</th>
                        <th>{% trans "Amount"%}</th>
                        <th>{% trans "Details"%}</th>
                     </tr>
                {% for object in objectBlock %}
                    <tr>
                        <td>{{ object.date }}</td>
                        <td>{{ object.message }}</td>
                        <td>{{ object.amount}}</td>
                        <td><a type="button" class="btn btn-primary" href="{% url 'c4c:donation_detail' object.id %}">{% trans "Details"%}</a></td>
                     </tr>
                {% endfor %}
            </table>
                {% else %}
                    <p></p>
                {% endif %}
            {% elif forloop.counter == 3 %}
                {% if objectBlock %}
<h3 style="text-align:center" > {% trans "Job you asked for"%} </h3>
                <table class="table table-hover" >
                     <tr>
                         <th>{% trans "title"%}</th>
                         <th>{% trans "duration"%}</th>
                         <th>{% trans "location"%}</th>
                         <th>{% trans "complete"%}</th>
                         <th> {% trans "more details"%}</th>
                     </tr>
               {% for object in objectBlock %}
                     <tr>
                        <td>{{ object.title }}</td>
                        <td>{{ object.duration }}</td>
                        <td>{{ object.location }}</td>
                        {% if object.complete == False %}
                        <td> {% trans "NO"%} </td>
                         {% else %}
                         <td>{% trans "YES"%}</td>
                         {% endif %}
                         <td><a type="button" class="btn btn-primary" href="{% url 'c4c:job_detail' object.id %}">{% trans "Details"%}</a></td>
                     </tr>
               {% endfor %}
               </table>
                {% else %}
<p>{% trans "You have no job asked !"%}</p>
                {% endif %}
            {% elif forloop.counter == 4 %}
                {% if objectBlock %}
<h3 style="text-align:center" > {% trans "Job you have done"%} </h3>
               <table class="table table-hover" >
                     <tr>
                         <th>{% trans "title"%}</th>
                         <th>{% trans "duration"%}</th>
                         <th>{% trans "location"%}</th>
                         <th>{% trans "complete"%}</th>
                         <th>{% trans "more details"%}</th>
                     </tr>
               {% for object in objectBlock %}
                     <tr>
                        <td>{{ object.title }}</td>
                        <td>{{ object.duration }}</td>
                        <td>{{ object.location }}</td>
                         {% if object.complete == False %}
                         <td> {% trans "NO"%} </td>
                         {% else %}
                         <td>{% trans "YES"%}</td>
                         {% endif %}
                         <th><a type="button" class="btn btn-primary" href="{% url 'c4c:job_detail' object.id %}">{% trans "Details"%}</a></th>
                     </tr>
               {% endfor %}
               </table>
                {% else %}
                    <p></p>
                {% endif %}
            {% endif %}
        {% endfor %}
       {% endif %}
{% endblock content %}