{% extends "base.html" %}

{% block title %}Care4Care - User jobs{% endblock %}

{% block content %}
	<div class="well">
		<div class="media">
			<a class="media-left" href="#">
				<img width="100" height="100" src="{{ STATIC_URL }}img/unknown_user.png" alt="Profile photo">
			</a>
			<div class="media-body">
				<h4 class="media-heading">Welcome, Guillaume</h4>
				Balance of your account: -8000 hours
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3 class="text-center">Offers</h3>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Offer 1</h3>
				</div>
				<div class="panel-body">
					<div class="pull-left">Louvain-la-Neuve</div>
					<div class="pull-right">Kim Mens</div>
					<div class="text-center"><b>Monday 17 November 2014</b></div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Sed mattis, leo nec tempor molestie, diam nulla congue felis, 
					et ultricies justo lectus eu lectus. Integer in placerat magna. 
					Pellentesque vehicula sapien a eros vulputate commodo. 
					Vestibulum mauris leo, condimentum dapibus ipsum ut, 
					commodo imperdiet ex. Praesent ornare imperdiet convallis.<br/>
					<button type="button" class="btn btn-primary pull-right">More infos</button> 
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Offer 2</h3>
				</div>
				<div class="panel-body">
					<div class="pull-left">Louvain-la-Neuve</div>
					<div class="pull-right">Kim Mens</div>
					<div class="text-center"><b>Monday 17 November 2014</b></div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Sed mattis, leo nec tempor molestie, diam nulla congue felis, 
					et ultricies justo lectus eu lectus. Integer in placerat magna. 
					Pellentesque vehicula sapien a eros vulputate commodo. 
					Vestibulum mauris leo, condimentum dapibus ipsum ut, 
					commodo imperdiet ex. Praesent ornare imperdiet convallis.<br/>
					<button type="button" class="btn btn-primary pull-right">More infos</button> 
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Offer 3</h3>
				</div>
				<div class="panel-body">
					<div class="pull-left">Louvain-la-Neuve</div>
					<div class="pull-right">Kim Mens</div>
					<div class="text-center"><b>Monday 17 November 2014</b></div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Sed mattis, leo nec tempor molestie, diam nulla congue felis, 
					et ultricies justo lectus eu lectus. Integer in placerat magna. 
					Pellentesque vehicula sapien a eros vulputate commodo. 
					Vestibulum mauris leo, condimentum dapibus ipsum ut, 
					commodo imperdiet ex. Praesent ornare imperdiet convallis.<br/>
					<button type="button" class="btn btn-primary pull-right">More infos</button> 
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Offer 4</h3>
				</div>
				<div class="panel-body">
					<div class="pull-left">Louvain-la-Neuve</div>
					<div class="pull-right">Kim Mens</div>
					<div class="text-center"><b>Monday 17 November 2014</b></div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Sed mattis, leo nec tempor molestie, diam nulla congue felis, 
					et ultricies justo lectus eu lectus. Integer in placerat magna. 
					Pellentesque vehicula sapien a eros vulputate commodo. 
					Vestibulum mauris leo, condimentum dapibus ipsum ut, 
					commodo imperdiet ex. Praesent ornare imperdiet convallis.<br/>
					<button type="button" class="btn btn-primary pull-right">More infos</button> 
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h3 class="text-center">Demands</h3>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Demand 1</h3>
				</div>
				<div class="panel-body">
					<div class="pull-left">Louvain-la-Neuve</div>
					<div class="pull-right">Kim Mens</div>
					<div class="text-center"><b>Monday 17 November 2014</b></div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Sed mattis, leo nec tempor molestie, diam nulla congue felis, 
					et ultricies justo lectus eu lectus. Integer in placerat magna. 
					Pellentesque vehicula sapien a eros vulputate commodo. 
					Vestibulum mauris leo, condimentum dapibus ipsum ut, 
					commodo imperdiet ex. Praesent ornare imperdiet convallis.<br/>
					<button type="button" class="btn btn-primary pull-right">More infos</button> 
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Demand 2</h3>
				</div>
				<div class="panel-body">
					<div class="pull-left">Louvain-la-Neuve</div>
					<div class="pull-right">Kim Mens</div>
					<div class="text-center"><b>Monday 17 November 2014</b></div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Sed mattis, leo nec tempor molestie, diam nulla congue felis, 
					et ultricies justo lectus eu lectus. Integer in placerat magna. 
					Pellentesque vehicula sapien a eros vulputate commodo. 
					Vestibulum mauris leo, condimentum dapibus ipsum ut, 
					commodo imperdiet ex. Praesent ornare imperdiet convallis.<br/>
					<button type="button" class="btn btn-primary pull-right">More infos</button> 
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Demand 3</h3>
				</div>
				<div class="panel-body">
					<div class="pull-left">Louvain-la-Neuve</div>
					<div class="pull-right">Kim Mens</div>
					<div class="text-center"><b>Monday 17 November 2014</b></div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Sed mattis, leo nec tempor molestie, diam nulla congue felis, 
					et ultricies justo lectus eu lectus. Integer in placerat magna. 
					Pellentesque vehicula sapien a eros vulputate commodo. 
					Vestibulum mauris leo, condimentum dapibus ipsum ut, 
					commodo imperdiet ex. Praesent ornare imperdiet convallis.<br/>
					<button type="button" class="btn btn-primary pull-right">More infos</button> 
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Demand 4</h3>
				</div>
				<div class="panel-body">
					<div class="pull-left">Louvain-la-Neuve</div>
					<div class="pull-right">Kim Mens</div>
					<div class="text-center"><b>Monday 17 November 2014</b></div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Sed mattis, leo nec tempor molestie, diam nulla congue felis, 
					et ultricies justo lectus eu lectus. Integer in placerat magna. 
					Pellentesque vehicula sapien a eros vulputate commodo. 
					Vestibulum mauris leo, condimentum dapibus ipsum ut, 
					commodo imperdiet ex. Praesent ornare imperdiet convallis.<br/>
					<button type="button" class="btn btn-primary pull-right">More infos</button> 
				</div>
			</div>
		</div>
	</div>
{% endblock content %}