{% extends "base.html" %}

{% block title %}Care4Care - Job detail{% endblock %}

{% block content %}
    <h1>{{ c4cjob.title }} :
        {% if c4cjob.offer == True %}
            offer
        {% elif c4cjob.offer == False %}
            demand
        {% endif %}
        </h1>
	
	<ul>
		<li>{{c4cjob.created_by}}</li>
		{% if c4cjob.asked_by != None %}
			<li>{{c4cjob.asked_by}}</li>
		{% endif %}
		{% if c4cjob.done_by != None %}
			<li>{{c4cjob.done_by}}</li>
		{% endif %}
		<li>{{c4cjob.location}}</li>
		<li>{{c4cjob.description}}</li>
		<li>{{c4cjob.start_date}}</li>
		{% if c4cjob.end_date != None %}
			<li>{{c4cjob.end_date}}</li>
			<li>{{c4cjob.duration}}</li>
		{% endif %}
		{% if c4cjob.complete %}
			<li><p> Completed </p></li>
		{% else %}
			<li><p> Ongoing </p></li>
		{% endif %}
	</ul>
	
{% if user.is_authenticated %}		
	{% if c4cjob.done_by == None and c4cjob.asked_by.pk != member.pk %}
		<button type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:accept_job' c4cjob.id %}'">Accept</button> 
	{% elif c4cjob.asked_by == None and c4cjob.done_by.pk != member.pk %}
		<button type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:accept_job' c4cjob.id %}'">Accept</button> 
	{% elif c4cjob.end_date == None and c4cjob.done_by.pk == member.pk and c4cjob.done_by != None and c4cjob.asked_by != None %}
		<form action="{% url 'c4c:done_job' c4cjob.id %}" method="post">
		{% csrf_token %}
		<input type="number" name="Duration" />
		<button type="submit" class="btn btn-primary">Done</button> 
		</form>
	{% elif c4cjob.complete == False and c4cjob.asked_by.pk == member.pk and c4cjob.end_date != None %}
		<button type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:confirm_job' c4cjob.id %}'">Confirm</button> 
		<button type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:report_job' c4cjob.id %}'">Report</button> 
		</form>
	{% endif %}
	
	{% if c4cjob.end_date == None and c4cjob.done_by != None and c4cjob.asked_by != None %}
		{% if c4cjob.offer == True and c4cjob.asked_by.pk == member.pk  %}
			<button type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:cancel_job' c4cjob.id %}'">Cancel</button> 
		{% elif c4cjob.offer == False and c4cjob.done_by.pk == member.pk %}
			<button type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:cancel_job' c4cjob.id %}'">Cancel</button> 
		{% endif %}
	{% endif %}
	
	{% if c4cjob.complete == False and c4cjob.end_date == None %}
		{% if c4cjob.offer == True and c4cjob.done_by.pk == member.pk  %}
			<button type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:delete_job' c4cjob.id %}'">Delete</button>
			<button type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:job_update' c4cjob.pk %}'">Update</button>
		{% elif c4cjob.offer == False and c4cjob.asked_by.pk == member.pk %}
			<button type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:delete_job' c4cjob.id %}'">Delete</button>
			<button type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:job_update' c4cjob.pk %}'">Update</button>
		{% endif %}
	{% endif %}
{% endif %}
{% endblock content %}
