{% extends "base.html" %}
{% load i18n %}

{% block title %}Care4Care - {% trans "Job detail" %}{% endblock %}

{% block content %}
    <h1>{{ c4cjob.title }}</h1>
	
	<ul>
        <li>{% trans "Created by" %} : {{c4cjob.created_by}}</li>
		{% if c4cjob.asked_by != None %}
        <li>{% trans "Asked by" %} : {{c4cjob.asked_by}}</li>
		{% endif %}
		{% if c4cjob.done_by != None %}
        <li>{% trans "Done by" %} : {{c4cjob.done_by}}</li>
		{% endif %}
        <li>{% trans "Address" %} : {{c4cjob.location}}</li>
        <li>{% trans "Description" %} : {{c4cjob.description}}</li>
        <li>{% trans "Due for" %} : {{c4cjob.start_date}}</li>
		{% if c4cjob.end_date != None %}
        <li>{% trans "Finished at" %} : {{c4cjob.end_date}}</li>
        <li>{% trans "Credit" %} : {{c4cjob.duration}}</li>
		{% endif %}
		{% if c4cjob.complete %}
        <li><p>{% trans "Completed" %}</p></li>
		{% else %}
        <li><p> {% trans "Ongoing" %} </p></li>
		{% endif %}
	</ul>
	
{% if user.is_authenticated %}		
	{% if c4cjob.done_by == None and c4cjob.asked_by.pk != member.pk %}
<button id="accept" type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:accept_job' c4cjob.id %}'">{% trans "Accept" %}</button>

	{% elif c4cjob.asked_by == None and c4cjob.done_by.pk != member.pk %}
<button id="accept" type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:accept_job' c4cjob.id %}'">{% trans "Accept" %}</button>

	{% elif c4cjob.end_date == None and c4cjob.done_by.pk == member.pk and c4cjob.done_by != None and c4cjob.asked_by != None %}
		<form action="{% url 'c4c:done_job' c4cjob.id %}" method="post">
		{% csrf_token %}
		<input type="number" name="Duration" />
        <button id="done" type="submit" class="btn btn-primary">{% trans "Done" %}</button>
		</form>

	{% elif c4cjob.complete == False and c4cjob.asked_by.pk == member.pk and c4cjob.end_date != None %}
<button id="confirm" type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:confirm_job' c4cjob.id %}'">{% trans "Confirm" %}</button>
<button id="report" type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:report_job' c4cjob.id %}'">{% trans "Report" %}</button>
		</form>
	{% endif %}
	
	{% if c4cjob.end_date == None and c4cjob.done_by != None and c4cjob.asked_by != None %}
		{% if c4cjob.offer == True and c4cjob.asked_by.pk == member.pk  %}
<button id="cancel" type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:cancel_job' c4cjob.id %}'">{% trans "Cancel" %}</button>

		{% elif c4cjob.offer == False and c4cjob.done_by.pk == member.pk %}
<button id="cancel" type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:cancel_job' c4cjob.id %}'">{% trans "Cancel" %}</button>
		{% endif %}
	{% endif %}
	
	{% if c4cjob.complete == False and c4cjob.end_date == None %}
		{% if c4cjob.offer == True and c4cjob.done_by.pk == member.pk  %}
<button id="delete" type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:delete_job' c4cjob.id %}'">{% trans "Delete" %}</button>
<button id="update" type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:job_update' c4cjob.pk %}'">{% trans "Update" %}</button>

		{% elif c4cjob.offer == False and c4cjob.asked_by.pk == member.pk %}
<button id="delete" type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:delete_job' c4cjob.id %}'">{% trans "Delete" %}</button>
<button id="update" type="button" class="btn btn-primary" onclick="location.href='{% url 'c4c:job_update' c4cjob.pk %}'">{% trans "Update" %}</button>
		{% endif %}
	{% endif %}
{% endif %}
{% endblock content %}
