{% extends "base.html" %}
{% load i18n %}

{% block title %}Care4Care - {% trans "Network"%}{% endblock %}
{% block content %}
<h1> {% trans "Personal Network" %} </h1>
<h3>{% trans "Add a new user to Personal Network"%}</h3>
	{% if network_list %}
		<table class="table table-hover">
		    {% for member in network_list %}
				<tr>
					<td><a href="{% url 'c4c:user_detail' member.pk %}">{{ member }}</a></td>
					<td><a class="btn btn-primary pull-right" href="{% url 'c4c:del_network' member.pk %}">{% trans "Delete" %}</a></td>
				</tr>
		    {% endfor %}
	    </table>
	{% endif %}
<form action="{% url 'c4c:search_network' %}"  role="search" method="get">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search User" name="search">
                         </div>
                         <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
                    </form>
{% endblock content %}