{% extends "base.html" %}
{% load i18n %}

{% block title %}Care4Care - {% trans "Network"%}{% endblock %}
{% block content %}
<h1> {% trans "Personal Network" %} </h1>
	{% if network_list %}
	    {% for member in network_list %}
			<ul>
				<li><a href="{% url 'c4c:user_detail' member.pk %}">{{ member.user }}</a></li>
	        </ul>
	    {% endfor %}
	{% endif %}
	<select class="selectpicker">
    <option>User1</option>
  </select>
	<a href="{% url 'c4c:add_user_to_network' %}" class="btn btn-primary btn-block">{% trans "Add new user" %}</a>
{% endblock content %}