
{% extends "base.html" %}
{% load i18n %}


{% block title %}Care4Care - {% trans "News detail"%}{% endblock %}
{% block content %}
<a class="btn btn-default" href="{% url 'c4c:all_news_list_Branch' %}"> {% trans "All branch news"%} </a>
<a class="btn btn-default" href="{% url 'c4c:all_news_list' %}"> {% trans "All News"%} </a>


<div class="panel panel-primary" style="margin-top:10px">
    <div class="panel-heading">
        {{ c4cnews.title}} -- {{ c4cnews.date}} {% trans "by"%} {{ c4cnews.user}}
    </div>
    <div class="panel-body">
    {{ c4cnews.description}}
    </div>
    <div class="panel-footer">
       {% if c4cnews.branch %}
       <p>{% trans "Related branch : "%}{{ c4cnews.branch }}</p>
        {% endif %}
   </div>
</div>
{% endblock content %}