
{% extends "base.html" %}


{% block title %}Care4Care - News detail{% endblock %}
{% block content %}
<a class="btn btn-default" href="{% url 'c4c:all_news_list_Branch' %}"> All branch news </a>
<a class="btn btn-default" href="{% url 'c4c:all_news_list' %}"> All News </a>


<div class="panel panel-primary">
    <div class="panel-heading">
    {{ C4CNews.title}} -- {{ C4CNews.date}} by {{ C4CNews.user}}
    </div>
    <div class="panel-body">
    {{ C4CNews.description}}
    </div>
    <div class="panel-footer">
        {% if C4CNews.branch != None%}
            Related Branch : {{ C4CNews.branch}}
        {% else %}
            General Information
        (% endif %}
    </div>
</div>
{% endblock content %}