{% extends "base.html" %}
{% load i18n %}

{% block content %}
<p> Type your account's email address below and a new password will be
generated and send to the email address.</p>
<form id="resetpassword" method="post">
    {% csrf_token %}
    {{ form.as_p }}
     <input id="reset_submit" type="submit" value={% trans "Reset password" %}  />
</form>
{% endblock %}

{% block help %}
{% trans "You can use this page to reset your password in case you've forgotten
what it is. You just need to provide your account's email address and
your new password will be sent to you by email. If the new password isn't
suitable for you, it is possible to change it once logged in." %}
{% endblock help %}
