{% extends "base.html" %}
{% load i18n %}
{% block title %}Care4Care - Send an email{% endblock %}
{% block content %}
<form action="{% url 'c4c:send_user_email' pk %}" method="POST">{% csrf_token %}

<p>{% trans "Subject : " %}<input type="text" class="form-control" maxlength="100" name="subject"> <p>

<p> {% trans "Please type your message : " %}<p>
<textarea class="form-control" maxlength="1000" name="content_message" rows="3" class="form-control"></textarea>
<p>

<button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
</form>
{% endblock content %}

{% block help %}
    {% trans "It's possible to send email to fellow users. Sending an email to a fellow user with forward the message to the email address provided in their profile." %}
{% endblock help %}
