{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form id="login_form" method="post" action="{% url 'c4c:login' %}">
    {% csrf_token %}
    {% trans "Username" %} : <input type="text" name="username" value="" size="50" />
    <br />
    {% trans "Password" %} : <input type="password" name="password" value="" size="50" />
    <br />

    {% if invalid %}
    {% trans "Your email and password are incorrect." %}
    {% endif %}

    <button id="login_submit" type="submit" class="btn btn-primary">{% trans "submit" %}</button>
</form>

        <br/>
        <p>If you have forgotten your password, <a href="{% url "c4c:resetpass" %}">click here</a>.</p>
        <br/>
        <p>If you do not have an account, <a href="{% url "c4c:registration" %}">click here to create one</a>.</p>
{% endblock %}

{% block help %}
{% trans "This is the login page. Type your username and password to log in." %}
{% endblock help %}
