{% extends "base.html" %} 
{% load i18n %}

{% block title %}{% if viewer.pk == c4cuser.pk %} Care4Care - {% trans "My profile"%} {% else %} Care4Care - {{ c4cuser.user.username }}{% trans "'s profile"%} {% endif %}{% endblock %}

{% block content %}
    {% if viewer.pk == c4cuser.pk %}
<h1 class="text-center">{% trans "My profile" %}</h1>
    {% else %}
<h1 class="text-center">{{ c4cuser.user.username }}{% trans "'s profile" %}</h1>
    {% endif %}
    <br/>

<h2> {% trans "User details: " %}</h2>
    <ul>
        <li>{% trans "Username: " %} {{ c4cuser.user.username }}</li>
        <li>{% trans "First name: "%} {{ c4cuser.user.first_name }}</li>
        <li>{% trans "Last name: "%} {{ c4cuser.user.last_name }}</li>
        <li>{% trans "Email: "%} {{ c4cuser.user.email }}</li>
    </ul>

    {% if viewer.pk == c4cuser.pk %}
        <br/>
		<p>{% trans "You can "%}<a href={% url 'c4c:user_edit' c4cuser.user.pk %}>{% trans "edit your user profile"%}</a>.</p>
		<p>{% trans "You can also change your"%} <a href={% url 'c4c:chPassword' c4cuser.user.pk %}>{% trans "password"%}</a>.</p>
    {% endif %}

<h2> C4C {% trans "details: "%}</h2>
    <ul>
        <li>{% trans "Address: "%} {{ c4cuser.address }}</li>
        <li>{% trans "Birthday: "%} {{ c4cuser.birthday }}</li>
        <li>{% trans "Account balance: "%} {{ c4cuser.time_account }}</li>
    </ul>

    <h3>Branches: </h3>
    {% if not_empty_br %}
        <ul>
            {% for branch in branches %}
                <li>{{ branch }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>This user is not affiliated with any branch.</p>
    {% endif %}

    {% if viewer.pk == c4cuser.pk %}
        <br/>
<p>{% trans "You can "%}<a href={% url 'c4c:c4cuser_edit' c4cuser.user.pk %}>{% trans "edit your C4C profile"%}</a>.</p>
    {% endif %}

{% if viewer.pk != c4cuser.pk %}
<a class="btn btn-primary pull-center" href={% url 'c4c:send_email' c4cuser.user.pk %}>{% trans "Send a message" %}</a>

{% endif %}
{% endblock content %}
