{% extends "base.html" %}
{% load i18n %}

{% block title %}{% if viewer.pk == c4cuser.pk %} Care4Care - {% trans "My profile"%} {% else %} Care4Care - {{ c4cuser.user.username }}{% trans "'s profile"%} {% endif %}{% endblock %}

{% block content %}
    {% if viewer.pk == c4cuser.pk %}
        <h2>{% trans "My profile" %}</h2>
    {% else %}
        <h2 class="text-center">{{ c4cuser.user.username }}{% trans "'s profile" %}</h2>
    {% endif %}
    <br/>

    <div class="well">
        <div class="media">
            <a class="media-left" href="#">
                <img style="max-width: 200px; max-height:200px;" src="{%if user.c4cuser.avatar %}media/{{ user.c4cuser.avatar.url }}{%else%}{{ STATIC_URL }}img/unknown_user.png{%endif%}" alt="Profile photo">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ c4cuser.user.first_name }} {{ c4cuser.user.last_name }}</h4>
                {% if viewer.pk == c4cuser.pk %}
                    {% trans "Username: " %} {{ c4cuser.user.username }}<br/>
                    {% trans "Account balance: "%} {{ c4cuser.time_account }}<br/>
                {% endif %}
                {%if is_in_network %}
                    {% trans "Birthday: "%} {{ c4cuser.birthday }}<br/>
                    {% trans "Email: "%} {{ c4cuser.user.email }}<br/>
                    {% trans "Address: "%} {{ c4cuser.address }}<br/>
                {% endif %}
                {% trans "Branches: " %}
                <ul>
                    {% for branch in branches %}
			            <li><a href={% url "c4c:branch_detail" branch.pk %}>{{ branch.name }}</a></li>
			        {% empty %}
			            <li>{% trans "This user is not affiliated with any branch." %}</li>
			        {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
    {% if viewer.pk != c4cuser.pk %}
        <a class="btn btn-primary btn-block" href={% url 'c4c:send_email' c4cuser.user.pk %}>{% trans "Send a message" %}</a>
        {% if not is_in_my_network %}
            <a class="btn btn-primary btn-block" href="{% url 'c4c:add_user_to_network' c4cuser.user.pk %}">{% trans "Add to my personal network"%}</a>
        {% else %}
            <a class="btn btn-primary btn-block" href="{% url 'c4c:del_network' c4cuser.user.pk %}">{% trans "Delete from my personal network"%}</a>
        {% endif %}
    {% else %}
        <a href="{% url 'c4c:user_edit' %}" class="btn btn-primary btn-block">{% trans "Edit your profile"%}</a>
    {% endif %}
{% endblock content %}

{% block help %}
{% trans "This is a user's profile page. It provided information about said user. If this is your profile, it's possible to modify the information from here." %}
{% endblock help %}
